SAS/src/main/webapp/wsdl/stockInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servlet" xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://servlet" xmlns:intf="http://servlet" xmlns:tns1="http://http.servlet.javax"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://servlet"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://http.servlet.javax"/>
            <element name="doGet">
                <complexType>
                    <sequence>
                        <element name="request" type="xsd:anyType"/>
                        <element name="response" type="xsd:anyType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="doGetResponse">
                <complexType/>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="doGetResponse">

        <wsdl:part element="impl:doGetResponse" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:message name="doGetRequest">

        <wsdl:part element="impl:doGet" name="parameters">

        </wsdl:part>

    </wsdl:message>

    <wsdl:portType name="stockInfo">

        <wsdl:operation name="doGet">

            <wsdl:input message="impl:doGetRequest" name="doGetRequest">

            </wsdl:input>

            <wsdl:output message="impl:doGetResponse" name="doGetResponse">

            </wsdl:output>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="stockInfoSoapBinding" type="impl:stockInfo">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="doGet">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="doGetRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="doGetResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="stockInfoService">

        <wsdl:port binding="impl:stockInfoSoapBinding" name="stockInfo">

            <wsdlsoap:address location="http://localhost:8080/SAS/services/stockInfo"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
